<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.norfolktouring">

    <!-- Used to retrieve device location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Used to steam introductory video from YouTube and query device address from `Location` -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NorfolkTouring"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LocationService"
            android:description="@string/LocationServiceDescription"
            android:permission="android.permission.ACCESS_FINE_LOCATION" />

        <!-- Google Geo Data API -->
        <!-- AIzaSyCW4_ie4rqF3S65xBXhDvS4W8bkef97-C8 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWMdYhZZ8SfyveoIGgnXZBhQpM1Rcl-rA" />

        <!-- android:launchMode="singleTop" -->
        <!-- android:launchMode="singleTask" -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Introductory Fragment Media Receiver for YouTube Playback -->
        <receiver android:name=".IntroductoryFragment$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!--Widget-Related Class Registrations-->

        <!--Widget Broadcast Recgit eiver-->
        <receiver android:name=".Widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!--GridWidgetService (Populates Widget Views)-->
        <service
            android:name=".Widget.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>

<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->

<!--package="com.example.john.norfolktouring">-->

<!--<application-->
<!--android:allowBackup="true"-->
<!--android:icon="@mipmap/ic_launcher"-->
<!--android:label="@string/app_name"-->
<!--android:roundIcon="@mipmap/ic_launcher_round"-->
<!--android:supportsRtl="true"-->
<!--android:theme="@style/AppTheme">-->

<!--</application>-->

<!--</manifest>-->